<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51459188559-5gaov7c4b67oa8d0e267dkrhmvnmbhve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51459188559-5gaov7c4b67oa8d0e267dkrhmvnmbhve</string>
	<key>API_KEY</key>
	<string>AIzaSyCXI6C9g21lZh88uaKvuehD-ZYe0dIuQlI</string>
	<key>GCM_SENDER_ID</key>
	<string>51459188559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexeyParkhomenko.IChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-baf74</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-baf74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51459188559:ios:854f7c7f093715ee80473a</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-baf74.firebaseio.com</string>
</dict>
</plist>